.header {
	grid-area: h;
	/* background-color: #edf2f6; */
	background-color: var(--main-color);
	border-radius: 10px;
	margin: 2px 10px 10px ;
	border: 1px solid var(--border-color);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.header img {
	height: 50px;
	/* width: 50px; */
	margin: 10px 0 0 10px;
}
