.box {

  margin: 0 0 5px 0;
  border-radius: 10px;

}

.box:hover {
  background-color: white;

  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container {
  height: 50px;
  display: flex;
  align-items: center;

}

.icon {
  height: 20px;
  margin: 0 10px;
}

.textMenu {
  text-transform: uppercase;

}

.link {
  color: grey;
  text-decoration: none;

}

.link:hover {
  color: black;

}

.active .container {
  text-decoration: underline;
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

