.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}

.dialogsItems {
    padding: 10px;
}


.messages {
    padding: 10px;
}
.messageHole{
    font-size: 14px;
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999;
    resize: none;
    width: 90%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}
